  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/libs/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/libs/jquery-3.3.1.min.js"></script>
    <script src="/js/libs/bootstrap.js"></script>
  </head>
